node_modules/
dist/

*.class

*.py[cod]

*.log

*.jar

target/
dist/

.idea/

TEST*.xml

.DS_Store

Thumbs.db

*.app
*.exe
*.war

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

pgdb/
redisdb/
.idea/
media/
/media
media
localhost/
venv
.venv
db.sqlite3
*.pyc
.vscode/sendgrid.env
locale/
sendgrid.env
celerybeat-schedule
