{% load i18n %}
<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 col-12 me-auto mb-4">
                <h5 class="text-white mb-3" id="subscribeModalLongTitle">{% trans 'Newsletter' %}</h5>

                <form class="custom-form subscribe-form mt-4" role="form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-7">
                            <input type="email" id="emailinput" name="subscribe-email"
                                   class="form-control" placeholder="Your email address">
                        </div>

                        <div class="col-lg-4 col-md-4 col-5">
                            <button type="submit" class="form-control" id="emailbutton">{% trans 'Subscribe' %}</button>
                        </div>

                    </div>
                </form>
            </div>

            <div class="col-lg-2 col-12 mx-auto my-lg-0 my-4">
                <h5 class="text-white mb-3">{% trans 'Services' %}</h5>

                <ul class="footer-menu">
                    {% for service in footer_services %}
                        <li class="footer-menu-item"><a href="{% url 'service_detail' service.slug %}"
                                                        class="footer-menu-link">{{ service.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-2 col-12">
                <h5 class="text-white mb-3">{% trans 'Company' %}</h5>

                <p class="text-white mb-1">{{ settings.default_address }}</p>
                <p class="text-white mb-1">{{ settings.default_number }}</p>

                <p><a href="mailto:{{ default_email }}" class="footer-link">{{ settings.default_email }}</a>
                <p>
            </div>

            <div class="site-footer-bottom mt-5">
                <div class="row pt-4">
                    <div class="col-lg-6 col-12">
                        <p class="copyright-text tooplate-link">Copyright © {{ current_year }} Metal Group.
                            <!-- <br>Design: <a rel="nofollow" href="https://www.sapience.com/" target="_blank">Sapience</a> -->
                        </p>
                    </div>

                    <div class="col-lg-3 col-12 ms-auto">
                        <ul class="social-icon">
                            {% if settings.facebook %}
                                <li><a href="{{ settings.facebook }}" target="_blank"
                                       class="social-icon-link bi-facebook"></a></li>{% endif %}

                            {% if settings.whatsapp %}
                                <li><a href="{{ settings.whatsapp }}" target="_blank"
                                       class="social-icon-link bi-whatsapp"></a>
                                </li>{% endif %}

                            {% if settings.instagram %}
                                <li><a href="{{ settings.instagram }}" target="_blank"
                                       class="social-icon-link bi-instagram"></a>
                                </li>{% endif %}

                            {% if settings.linkedin %}
                                <li><a href="{{ settings.linkedin }}" target="_blank"
                                       class="social-icon-link bi-linkedin"></a>
                                </li>{% endif %}

                            {% if settings.youtube %}
                                <li><a href="{{ settings.youtube }}" target="_blank"
                                       class="social-icon-link bi-youtube"></a>
                                </li>{% endif %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

<script>
    const SubsciberLogic = {
        emailManager(email) {
            fetch('/api/subscriber/', {
                method: 'POST',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'email': email,
                })
            })
                .then(response => response.json())
                .then(data => {
                    subscribeModalLongTitle = document.getElementById('subscribeModalLongTitle');
                    if (data['success'] === true) {
                        emailinput.value = '';
                        alert('You have successfully subscribed to our newsletter');
                    } else {
                        alert('Oops! Something went wrong. Please try again later.');
                    }
                });
        }
    }

    emailbutton = document.getElementById('emailbutton')
    emailinput = document.getElementById('emailinput')

    emailbutton.onclick = function (e) {
        e.preventDefault();
        const email = emailinput.value;
        SubsciberLogic.emailManager(email);
    }

</script>
