<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 col-12 me-auto mb-4">
                <h5 class="text-white mb-3" id="subscribeModalLongTitle">Newsletter</h5>

                <form class="custom-form subscribe-form mt-4" role="form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-7">
                            <input type="email" id="emailinput" name="subscribe-email"
                                   class="form-control" placeholder="Your email address">
                        </div>

                        <div class="col-lg-4 col-md-4 col-5">
                            <button type="submit" class="form-control" id="emailbutton">Abunə ol</button>
                        </div>

                    </div>
                </form>
            </div>

            <div class="col-lg-2 col-12 mx-auto my-lg-0 my-4">
                <h5 class="text-white mb-3">Services</h5>

                <ul class="footer-menu">
                    {% for service in footer_services %}
                        <li class="footer-menu-item"><a href="{{ service.url }}" class="footer-menu-link">{{ service.title }}</a></li>
                        
                        <!-- <li class="footer-menu-item"><a href="#" class="footer-menu-link">Creative Ideas</a></li> -->
                        
                        <!-- <li class="footer-menu-item"><a href="#" class="footer-menu-link">Branding</a></li> -->
                        
                        <!-- <li class="footer-menu-item"><a href="#" class="footer-menu-link">Video Contents</a></li> -->
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-2 col-12">
                <h5 class="text-white mb-3">Say Hi</h5>

                <p class="text-white mb-1">{{default_address}}</p>
                <p class="text-white mb-1">{{default_number}}</p>

                <p><a href="mailto:just@finance.com" class="footer-link">{{default_email}}</a>
                <p>
            </div>

            <div class="site-footer-bottom mt-5">
                <div class="row pt-4">
                    <div class="col-lg-6 col-12">
                        <p class="copyright-text tooplate-link">Copyright © 2022 Metal Group.
                            <!-- <br>Design: <a rel="nofollow" href="https://www.sapience.com/" target="_blank">Sapience</a> -->
                        </p>
                    </div>

                    <div class="col-lg-3 col-12 ms-auto">
                        <ul class="social-icon">
                            {% if facebook %}<li><a href="{{facebook}}" target="_blank" class="social-icon-link bi-facebook"></a></li>{% endif %}

                            {% if facebook %}<li><a href="{{whatsapp}}" target="_blank" class="social-icon-link bi-whatsapp"></a></li>{% endif %}

                            {% if facebook %}<li><a href="{{instagram}}" target="_blank" class="social-icon-link bi-instagram"></a></li>{% endif %}

                            {% if facebook %}<li><a href="{{linkedin}}" target="_blank" class="social-icon-link bi-linkedin"></a></li>{% endif %}

                            {% if facebook %}<li><a href="{{youtube}}" target="_blank" class="social-icon-link bi-youtube"></a></li>{% endif %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

<script>
    console.log("Hello World");
    const SubsciberLogic = {
        emailManager(email) {
            console.log(email);
            fetch('/subscriber/', {
                method: 'POST',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'email': email,
                })
            })
                .then(response => response.json())
                .then(data => {
                    console.log("hallo");
                    subscribeModalLongTitle = document.getElementById('subscribeModalLongTitle');
                    if (data['success'] === true) {
                        emailinput.value = '';
                        emailinput.placeholder = 'Enter your email';
                        subscribeModalLongTitle.innerText = data['message'];
                    } else {
                        subscribeModalLongTitle.innerText = data['email'][0];
                    }
                });
        }
    }

    emailbutton = document.getElementById('emailbutton')
    emailinput = document.getElementById('emailinput')

    emailbutton.onclick = function (e) {
        e.preventDefault();
        console.log('clicked');
        const email = emailinput.value;
        SubsciberLogic.emailManager(email);
    }

</script>

<!-- <script src="static/js/subscriber_email.js"></script> -->