{% load i18n %}
{% load static %}

<a onclick="topFunction()" id="myBtnn">
    <i class="fa-solid fa-chevron-up"></i>
</a>

<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 col-12 me-auto mb-4">
                <h5 class="text-white mb-3" id="subscribeModalLongTitle">Newsletter</h5>
                <!-- ELAVE footer address class -->
                <a href="http://maps.apple.com/?q=40.4075678,49.8620245&z=17&t=s"
                    style="text-align: center; background-color: #f5f5f5; background-image: url('{{ STATIC_URL }}ELAVE/adressImage.png')" class="mb-5">
                    <img style="width: 80%;" src="{% static 'ELAVE/mapaddress.jpeg' %}" alt="">
                </a>
                <!-- <form class="custom-form subscribe-form mt-4" role="form" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken"
                        value="FlwTgm4gkMuxpfGURwOgyrnCIifk9YzRh9S93Yv6sga3C0kSNRZf3N4ucsAm2lk9">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-7">
                            <input type="email" id="emailinput" name="subscribe-email" class="form-control"
                                placeholder="Your email address">
                        </div>

                        <div class="col-lg-4 col-md-4 col-5">
                            <button type="submit" class="form-control" id="emailbutton">Subscribe</button>
                        </div>

                    </div>
                </form> -->
            </div>

            <div class="col-lg-2 col-12 mx-auto my-lg-0 my-4">
                <h5 class="text-white mb-3">Xidmətlər</h5>

                <ul class="footer-menu">
                    {% for service in footer_services %}
                    <li class="footer-menu-item"><a href="{% url 'service_detail' service.slug %}"
                            class="footer-menu-link">{{ service.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-2 col-12">
                <h5 class="text-white mb-3">{% trans 'Company' %}</h5>

                <p class="text-white mb-1">{{ settings.default_address }}</p>
                <p class="text-white mb-1">{{ settings.default_number }}</p>

                <p><a href="mailto:{{ default_email }}" class="footer-link">{{ settings.default_email }}</a>
                <p>
            </div>

            <div class="site-footer-bottom mt-5">
                <div class="row pt-4">
                    <div class="col-lg-6 col-12">
                        <p class="copyright-text tooplate-link">Copyright © {{ current_year }} Metal Group.
                            <!-- <br>Design: <a rel="nofollow" href="https://www.sapience.com/" target="_blank">Sapience</a> -->
                        </p>
                    </div>

                    <div class="col-lg-3 col-12 ms-auto">
                        <ul class="social-icon">
                            {% if settings.facebook %}
                                <li><a href="{{ settings.facebook }}" target="_blank"
                                       class="social-icon-link bi-facebook"></a></li>{% endif %}

                            {% if settings.whatsapp %}
                                <li><a href="https://wa.me/{{ settings.whatsapp }}" target="_blank"
                                       class="social-icon-link bi-whatsapp"></a>
                                </li>{% endif %}

                            {% if settings.instagram %}
                                <li><a href="{{ settings.instagram }}" target="_blank"
                                       class="social-icon-link bi-instagram"></a>
                                </li>{% endif %}

                            {% if settings.linkedin %}
                                <li><a href="{{ settings.linkedin }}" target="_blank"
                                       class="social-icon-link bi-linkedin"></a>
                                </li>{% endif %}

                            {% if settings.youtube %}
                                <li><a href="{{ settings.youtube }}" target="_blank"
                                       class="social-icon-link bi-youtube"></a>
                                </li>{% endif %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>


<script>
    scrollTopicon = document.getElementById("scrollTopicon");

    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera

    }
    
</script>
