{% load i18n static %}
<nav class="navbar fixed-top navbar-expand-lg {% if request.path != '/' %}navbar-light bg-light{% endif %}">
    <div class="container">

        <a href="/" class="navbar-brand">
            {% if settings.logo %}
                <img src="{{ settings.logo.url }}" alt="" width="50px"> {{ settings.sayt_name }}
            {% endif %}
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">{% trans 'Home' %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">{% trans 'About' %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">{% trans 'Services' %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blogs' %}">{% trans 'Blog' %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">{% trans 'Contact' %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'excell' %}">{% trans 'Excel' %}</a>
                </li>

            </ul>

            <div class="ms-auto d-none d-lg-block">
                <a href="{% url 'calculator' %}" class="custom-btn btn btn-lg">
                    {% trans 'Calculator' %}
                </a>
            </div>
            <div class="language" style="margin-left: 1rem">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    {% if language.code == LANGUAGE_CODE %}
                        <button style="border: none; border-radius: 20%;"><a href="{% url 'set_language' language.code %}"
                           style="color: #000000; font-weight: bold;">{{ language.code }}</a></button>
                    {% else %}
                    <button style="border: none; border-radius: 20%;">
                        <a href="{% url 'set_language' language.code %}">{{ language.code }}</a>
                    </button>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
