<nav class="navbar fixed-top navbar-expand-lg {% if request.path != '/' %}navbar-light bg-light{% endif %}">
    <div class="container">

        <a href="/" class="navbar-brand">
            <img src="{{ settings.logo.url }}" alt="" width="50px"> {{sayt_name}}
        </a>

        <!-- <a href="/contact" class="custom-btn btn btn-lg d-lg-none ms-auto me-4">
            Bizimlə əlaqə

        </a> -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blogs' %}">Blog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>

            <div class="ms-auto d-none d-lg-block">
                <a href="#" class="custom-btn btn btn-lg">
                    Bizə yazın
                </a>
            </div>
        </div>
    </div>
</nav>
