{% extends "partials/base.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

    <main>
        <section class="work section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-5">
                        <div>
                            <h4 class="text-center">{{ blog.title }}</h4>
                            <p class="text-center">{{ blog.description|safe }}</p>
                        </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
