{% extends "partials/base.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block content %}



    <main>
        <section class="hero d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12">
                        <div class="heroText">
                            <h1 class="text-white mb-lg-5 mb-4">{{ settings.slogan }}</h1>

                            <!-- <a href="https://www.youtube.com/watch?v=AYaHuZ4BB6Y"
                               class="popup-youtube play-icon-wrap d-flex align-items-center">
                                <i class="bi-play play-icon"></i>

                                <small>1:49 Minutes</small>
                            </a> -->
                        </div>
                    </div>

                </div>
            </div>

            <div class="overlay"></div>
        </section>
        {% include 'components/about-section.html' %}
        {% include 'components/services-section.html' %}
        {% include 'components/blog-section.html' %}
        {% include 'components/contact-form.html' %}
    </main>

{% endblock %}
