{% extends "partials/base.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<main>
    <section id="serviceDetails" class="work section-padding" style="margin-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div>
                        <h4 class="text-center">{{ service.title }}</h4>
                        <p class="text-center"><p>{{ service.description|safe }}</p></p>
                    </div>
            </div>




            <div class="accordion" id="accordionPanelsStayOpenExample">
              {% for faq in servicesfaq %}
                <div class="accordion-item">
                  <h2 class="accordion-header" >
                    <button class="accordion-button" type="button" >
                      {{ faq.question }}
                    </button>
                  </h2>
                  <div class="accordion-collapse "  style="display:none;" >
                    <div class="accordion-body">
                      {{ faq.answer }}
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>
        </div>

    </section>
</main>

{% endblock %}
