{% extends "partials/base.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<main>
    <section id="serviceDetails" class="work section-padding" style="margin-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div>
                        <h4 class="text-center">{{ service.title }}</h4>
                        <p class="text-center"><p>{{ service.description|safe }}</p></p>
                    </div>
            </div>




            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" >
                    <button class="accordion-button" type="button" >
                     Mühasibat
                    </button>
                  </h2>
                  <div class="accordion-collapse "  style="display:none;" >
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" >
                      <button class="accordion-button" type="button" >
                       Mühasibat
                      </button>
                    </h2>
                    <div class="accordion-collapse "  style="display:none;" >
                      <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" >
                      <button class="accordion-button" type="button" >
                       Mühasibat
                      </button>
                    </h2>
                    <div class="accordion-collapse "  style="display:none;" >
                      <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" >
                      <button class="accordion-button" type="button" >
                       Mühasibat
                      </button>
                    </h2>
                    <div class="accordion-collapse " style="display:none;" >
                      <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" >
                      <button class="accordion-button" type="button" >
                       Mühasibat
                      </button>
                    </h2>
                    <div class="accordion-collapse "  style="display:none;" >
                      <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>


              </div>
        </div>

    </section>
</main>

{% endblock %}
