{% extends 'admin/base.html' %}
{% load i18n static suit_tags %}

{% block stylesheet %}{% static "suit/css/suit.css" %}{% endblock %}

{% block extrastyle %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='{% static "suit/css/font-awesome.min.css" %}' rel='stylesheet' type='text/css'>


{% endblock %}
{% block mycss %} {% endblock mycss %}


{% block bodyclass %}{{ block.super|suit_body_class:request }}{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Just Finance site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {% trans 'Just Finance administration' %}
            <span class="header-label">{% trans 'Admin' %}</span></a>
    </h1>
{% endblock %}

{% block js %}
<script src="{% static 'core/_starexboard/js/convert.js' %}"></script>
{% endblock js %}

{% block pretitle %}
<div class="content-wrap">
    {% block messages %}
        {% if messages %}
            <ul class="messagelist">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock messages %}
{% endblock %}

{% block sidebar %}
    </div> <!-- Close content-wrap -->
{% endblock %}

{% block usertools %}
    {% if has_permission %}
        <div id="user-tools" class="suit-user-tools">
            {% block welcome-msg %}
                <span class="welcome">
                    {% trans 'Welcome' %},<strong>{% firstof user.get_short_name user.get_username %}</strong>.
                </span>
                <div>
                    {% get_available_languages as languages %}
                    
                    {% for lang_code, lang_name in languages %}
                        <a href="/{{ lang_code }}{{ request.get_full_path|slice:'3:' }}"><span class="header-label text-white font-weight-bold">{{lang_name}}</span></a>
                        {% if not forloop.last %}
                            <span>/</span>
                        {% endif %}
                    {% endfor %}            
                </div>
            {% endblock %}

            <div class="user-links">
                {% block userlinks %}
                    {% if site_url %}
                        <a href="{{ site_url }}" class="icon-link view-site-link" data-title="{% trans 'View site' %}">{% trans 'View site' %}</a>
                        <span class="separator">/</span>
                    {% endif %}

                    {% if user.is_active and user.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}
                            <a href="{{ docsroot }}" class="icon-link documentation-link" data-title="{% trans 'Documentation' %}">{% trans 'Documentation' %}</a>
                            <span class="separator">/</span>
                        {% endif %}
                    {% endif %}
                    
                    {% if user.has_usable_password %}
                        <a href="{% url 'admin:password_change' %}" class="icon-link change-password-link" data-title="{% trans 'Change password' %}">{% trans 'Change password' %}</a>
                        <span class="separator">/</span>
                    {% endif %}

                    <a href="{% url 'admin:logout' %}" class="icon-link logout-link" data-title="{% trans 'Log out' %}">{% trans 'Log out' %}</a>
                {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block nav-global %}
    {% include 'suit/menu.html' %}
{% endblock %}

{% block footer %}
{#    </div> <!-- Put footer outside #container -->#}
    {% if not is_popup %}
        <div id="footer">
        <footer class="footer">
            <div class="container-fluid">
                {% block footer_content %}
                    <div class="row">

                        <div class="col-xs-12 col-sm-3 footer-links">
                            
                        </div>

                        <div class="col-xs-12 col-sm-6 text-sm-center footer-copyright">
                            {% block copyright %}
                                Copyright &copy;
                                <span class="hidden-md-down">{% now "Y" %} </span>Just Finance 2022
                                <br>Developed by 
                                <a href="#" target="_blank">Metal Studio</a>
                            {% endblock %}
                        </div>

                        <div class="col-xs-12 col-sm-3 text-sm-right footer-version">
                            {% block footer_branding %}
                                {% with admin_name=site_header|default:_('Just Finance administration') django_version='django_version'|suit_conf:request %}
                                    {{ admin_name }}
                                    {% if admin_name == 'Django Suit' %}
                                        <span style="font-size: 12px">
                                            {{ 'version'|suit_conf:request }}<br/>
                                            Django {{ django_version }}
                                        </span>
                                    {% endif %}
                                {% endwith %}
                            {% endblock %}
                        </div>

                    </div>
                {% endblock %}
            </div>
        </footer>
    {% endif %}

{#    {{ block.super }}#}
    <script src="{% static "suit/js/suit.js" %}"></script>
    {% if cl.formset or action_form and 'toggle_changelist_top_actions'|suit_conf:request %}
        <script type="text/javascript">
            Suit.ListActionsToggle.init();
        </script>
    {% elif adminform %}
        <script type="text/javascript">

            Suit.$("#{{ opts.model_name }}_form").suitFormDebounce();

            {% if 'form_submit_on_right'|suit_conf:request %}
                Suit.FixedBar.init();
            {% endif %}

            {% if adminform.model_admin.suit_form_tabs %}
                Suit.$(function () {
                    Suit.$('#suit_form_tabs').suitFormTabs();
                });
            {% endif %}

{#            {% if 'layout'|suit_conf:request.current_app == 'vertical' %}#}
{#                Suit.$('#content').prepend(Suit.$('.breadcrumbs'));#}
{#            {% endif %}#}
        </script>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script >

        $(document).ready(function()
        {

            // Promocode -> active for if 'Sifaris' is clicked then show according fields
            if ($('#id_active_for_0').prop('checked') == true)
            {
                $('.field-order_using_options').show()
                $('.field-will_use_in_declaration').show()
            }
            else
            {
                $('.field-order_using_options').hide()
                $('.field-will_use_in_declaration').hide()
            }
        
            $('#id_active_for_0').on('change', function() 
            {
                if($(this).prop('checked') == true)
                {
                    $('.field-order_using_options').show()
                    $('.field-will_use_in_declaration').show()
                }
                else
                {
                    $('.field-order_using_options').hide()
                    $('.field-will_use_in_declaration').hide()
                }
            })


            if ($("#id_can_use_as_requested_until_deadline_per_user").prop('checked') == true) 
                $(".field-number_of_per_user").hide()            
            else
                $(".field-number_of_per_user").show()            


            if ($("#id_can_use_as_requested_until_deadline").prop('checked') == true) 
                $(".field-number_of_use").hide()                        
            else
                $(".field-number_of_use").show()
        

            $('#id_can_use_as_requested_until_deadline_per_user').on('change', function() 
            {
                if($(this).prop('checked') == true)
                    $(".field-number_of_per_user").hide()
                else
                    $(".field-number_of_per_user").show()
            })


            $('#id_can_use_as_requested_until_deadline').on('change', function() 
            {
                if($(this).prop('checked') == true)
                    $(".field-number_of_use").hide()
                else
                    $(".field-number_of_use").show()                
            })


            // # ================================================================================
            // # =========================  PROMOTION DISCOUNT ==================================
            // # ================================================================================
            
            if ($('#id_service').val() == 'order')            
                $(".field-order_service_options").show()                                            
            else            
                $('.field-order_service_options').hide()            

            $('#id_service').on('change', function() 
            {
                console.log($(this).val())

                if($(this).val() == 'order')
                    $(".field-order_service_options").show()                
                else
                    $(".field-order_service_options").hide()
            })


            if ($('#id_discount_type').val() == '1')            
                $(".field-discount_amount_currency").show()                                            
            else            
                $('.field-discount_amount_currency').hide()            

            $('#id_discount_type').on('change', function() 
            {
                if($(this).val() == '1')
                    $(".field-discount_amount_currency").show()                
                else
                    $(".field-discount_amount_currency").hide()
            })

        
        }) // End of ready



        
        
        </script>

{#    <div> <!-- Fix/close div previously closed by footer -->#}
{% endblock %}
