<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Tween Digital Agency HTML Template</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
                
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/magnific-popup.css" rel="stylesheet">

        <link href="css/tooplate-tween-agency.css" rel="stylesheet">

    </head>

    <body>

        <nav class="navbar fixed-top navbar-expand-lg sticky-nav">
            <div class="container">

                <a href="index.html" class="navbar-brand">
                    <i class="bi-layers"></i> Just finance
                </a>

                <a href="#" class="custom-btn btn btn-lg d-lg-none ms-auto me-4">
                    Bizə yazın
                    <i class="bi-download ms-2"></i>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5">
                        <li class="nav-item">
                            <a class="nav-link" href="#section_1">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#section_2">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#section_3">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#section_4">Our Work</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#section_5">Pricing</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#section_6">Contact</a>
                        </li>
                    </ul>

                    <div class="ms-auto d-none d-lg-block">
                        <a href="#" class="custom-btn btn btn-lg">
                            Bizə yazın
                            <i class="bi-download ms-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <main>
            <section class="about section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <h2 class="mb-5">Digital Happiness</h2>
                        </div>

                        <div class="col-lg-4 col-12 ms-lg-auto mb-5 mb-lg-0">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-intro-tab" data-bs-toggle="tab" data-bs-target="#nav-intro" type="button" role="tab" aria-controls="nav-intro" aria-selected="true">Introduction</button>

                                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">HR</button>

                                    <button class="nav-link" id="nav-faq-tab" data-bs-toggle="tab" data-bs-target="#nav-faq" type="button" role="tab" aria-controls="nav-faq" aria-selected="false">FAQs</button>
                                </div>
                            </nav>
                        </div>

                        <div class="col-12">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-intro" role="tabpanel" aria-labelledby="nav-intro-tab">
                                    <div class="row">
                                        <div class="col-lg-6 col-12 mb-lg-0 mb-4">
                                            <img src="images/webpage-browser-digital-icon-symbols-concept.jpg" class="img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-5 col-12 m-auto">
                                            <h3 class="mb-3">Brand Creation</h3>

                                            <p>We want you to be happy with our Tween Agency services. Our digital agency is ready to serve you to grow your business in a healthy way.</p>

                                            <p>This is Bootstrap 5 HTML template for your website provided by <a rel="nofollow" href="https://www.tooplate.com/" target="_blank">Tooplate</a>. You can download, edit and use this layout for your company website.</p>
                                            
                                            <p>Image credits go to <a rel="nofollow" href="https://freepik.com/" target="_blank">FreePik</a> and <a rel="nofollow" href="https://unsplash.com/" target="_blank">Unsplash</a> for images used in this template. We really appreciate these stock image websites for providing free photos to everyone.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div class="row">
                                        <div class="col-lg-5 col-12 m-auto">
                                            <h3 class="mb-3">Marie Smarty, CEO</h3>

                                            <p>Our priority is your happiness working together with us. We guarantee you the best service quality from us. Feel free to talk to us via email, twitter, or linkedin.</p>

                                            <ul class="social-icon mt-lg-5 mt-3">
                                                <li class="me-3"><strong>Where to find?</strong></li>

                                                <li><a href="https://twitter.com/search?q=tooplate" class="social-icon-link bi-twitter"></a></li>

                                                <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                                                <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-6 col-12 mt-lg-0 mt-4">
                                            <img src="images/dream-about-working-corporation-became-true.jpg" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="nav-faq" role="tabpanel" aria-labelledby="nav-faq-tab">
                                    <div class="row">
                                        <div class="col-lg-6 col-12 mb-lg-0 mb-4">
                                            <img src="images/php-programming-html-coding-cyberspace-concept.jpg" class="img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-5 col-12 m-auto">
                                            <h3 class="mb-3">Frequenlty Asked Questions</h3>

                                            <div class="accordion" id="accordionGeneral">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralOne" aria-expanded="true" aria-controls="accordionGeneralOne">
                                                        What is Tween Agency?
                                                        </button>
                                                    </h2>

                                                    <div id="accordionGeneralOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionGeneral">

                                                        <div class="accordion-body">
                                                            <p class="large-paragraph"><strong>Tween Agency</strong> is free HTML template powered by Bootstrap 5 CSS framework. This means you can use all standard CSS classes provided by Bootstrap version 5 to customize your CSS layout.</p>

                                                            <p class="large-paragraph">You are allowed to use it for your clients. You are not allowed to redistribute this template ZIP file on any other template website. Please <a href="https://www.tooplate.com/contact" target="_blank"><strong>contact Tooplate</strong></a> for more info.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingTwo">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralTwo" aria-expanded="false" aria-controls="accordionGeneralTwo">
                                                        What are available services?
                                                        </button>
                                                    </h2>

                                                    <div id="accordionGeneralTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionGeneral">

                                                        <div class="accordion-body">
                                                            <p class="large-paragraph">We provide full digital marketing services for all various aspects of your company's web presence and social medias. You have 100% peace of mind for your company by working with us.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingThree">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralThree" aria-expanded="false" aria-controls="accordionGeneralThree">
                                                        How many successful projects?
                                                        </button>
                                                    </h2>

                                                    <div id="accordionGeneralThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionGeneral">

                                                        <div class="accordion-body">
                                                            <p class="large-paragraph">We have over 280+ successful projects for different companies. There are great experiences of working together with different clients all over the world.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-12 me-auto mb-4">
                        <h5 class="text-white mb-3">Newsletter</h5>

                        <form class="custom-form subscribe-form mt-4" role="form">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-7">                                    
                                    <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Your email address" required="">
                                </div>

                                <div class="col-lg-4 col-md-4 col-5">                                  
                                    <button type="submit" class="form-control" id="subscribe">Subscribe</button>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="col-lg-2 col-12 mx-auto my-lg-0 my-4">
                        <h5 class="text-white mb-3">Services</h5>

                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Digital Marketing</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Creative Ideas</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Branding</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Video Contents</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-12">
                        <h5 class="text-white mb-3">Say Hi</h5>

                        <p class="text-white mb-1">Sunderland SR6 0JL, United Kingdom</p>

                        <p><a href="mailto:email@company.com" class="footer-link">email@company.com</a><p>
                    </div>

                    <div class="site-footer-bottom mt-5">
                        <div class="row pt-4">
                            <div class="col-lg-6 col-12">
                                <p class="copyright-text tooplate-link">Copyright © 2022 Tween Agency Co., Ltd.
                                <br>Design: <a rel="nofollow" href="https://www.tooplate.com/" target="_blank">Tooplate</a></p>
                            </div>

                            <div class="col-lg-3 col-12 ms-auto">
                                <ul class="social-icon">
                                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                                    <li><a href="https://twitter.com/search?q=tooplate" class="social-icon-link bi-twitter"></a></li>

                                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                    <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                                    <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/magnific-popup-options.js"></script>
        <script src="js/click-scroll.js"></script>
        <!-- <script src="js/custom.js"></script> -->
        <script src="js/customjs_handly.js"></script>
    </body>
</html>
    