{% extends "partials/base.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block content %}



    <main>
        <section class="hero d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12">
                        <div class="heroText">
                            <h1 class="text-white mb-lg-5 mb-4">We are ready to serve for your digital marketing</h1>

                            <a href="https://www.youtube.com/watch?v=AYaHuZ4BB6Y"
                               class="popup-youtube play-icon-wrap d-flex align-items-center">
                                <i class="bi-play play-icon"></i>

                                <small>1:49 Minutes</small>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="overlay"></div>
        </section>
        {% include 'components/about-detail.html' %}
        {% include 'components/services-detail.html' %}
        {% include 'components/blogs-detail.html' %}
        <section class="pricing section-padding" id="section_5">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h2 class="text-white mb-5 text-center">Tween Marketing Plans</h2>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="pricing-plan bg-white">
                            <div class="d-flex flex-wrap align-items-center pricing-header">
                                <i class="pricing-icon bi-person"></i>

                                <div class="pricing-name">
                                    <h4>Sufficient</h4>
                                </div>

                                <div class="pricing-price">
                                    <h4>$4,600</h4>
                                </div>

                                <small class="pricing-recommend">Recommended Plan</small>
                            </div>

                            <div class="pricing-body">
                                <h5 class="mb-3">Managed Features</h5>

                                <ul class="pricing-list">
                                    <li class="pricing-list-item">Fully Digital</li>
                                    <li class="pricing-list-item">Social Media Managements</li>
                                    <li class="pricing-list-item">Website Optimizations</li>
                                    <li class="pricing-list-item">24/7 Phone Calls and Emails</li>
                                </ul>

                                <h5 class="mt-lg-5 mt-4 mb-3">Small to Mid-size Businesses</h5>

                                <p>Everything you need for your digital marketing stuffs</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 mt-lg-0 mt-5">
                        <div class="pricing-plan border-0 bg-white shadow-lg">
                            <div class="d-flex flex-wrap align-items-center pricing-header">
                                <i class="pricing-icon bi-briefcase"></i>

                                <div class="pricing-name">
                                    <h4>Complete</h4>
                                </div>

                                <div class="pricing-price">
                                    <h4>$8,200</h4>
                                </div>

                                <small class="pricing-recommend">Ecommerce Plan</small>
                            </div>

                            <div class="pricing-body">
                                <h5 class="mb-3">Fully Featured Work</h5>

                                <ul class="pricing-list">
                                    <li class="pricing-list-item">Completely Digital</li>
                                    <li class="pricing-list-item">Everything managed online</li>
                                    <li class="pricing-list-item">Full Ecommerce Features</li>
                                    <li class="pricing-list-item">24/7 Instant Video Chats</li>
                                </ul>

                                <h5 class="mt-lg-5 mt-4 mb-3">High-end Ecommerce Websites</h5>

                                <p>Fit for your company and ecommerce related stuffs</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="overlay dark-overlay"></div>
        </section>
        {% include 'components/contact-us-form.html' %}
    </main>

{% endblock %}
