{% extends "partials/base.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block content %}


    <main>
        <section class="services section-padding" id="section_3">
            <div class="container">
                <div class="row">

                    <h2 class="mb-5 text-center">Digital Services</h2>

                    <div class="col-lg-4 col-12 d-flex bg-primary p-0">
                        <img src="{% static 'images/services/undraw_Online_page_re_lhgx.svg' %}" class="img-fluid services-image"
                             alt="">
                    </div>

                    <div class="col-lg-4 col-12 p-0">
                        <div class="services-info custom-icon-left paddingText">

                            <h4 class="">UI Design</h4>

                            <p class="mb-4">Lorem Ipsum is simply dummy text of the printing industry</p>

                            <a class="custom-btn custom-bg-dark btn" href="#">Learn More</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 d-flex bg-warning p-0">
                        <img src="{% static 'images/services/undraw_online_transactions_02ka.svg' %}" class="img-fluid services-image"
                             alt="">
                    </div>

                    <div class="col-lg-4 col-12 p-0 order-lg-0 order-sm-5">

                        <div class="services-info custom-icon-right paddingText order-lg-0 order-sm-2">

                            <h4 class="">Marketing</h4>

                            <p class="mb-4">Lorem Ipsum is simply dummy text of the printing industry</p>

                            <a class="custom-btn custom-bg-dark btn" href="#">Learn More</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 d-flex bg-success p-0 order-lg-0 order-sm-4">
                        <img src="{% static 'images/services/undraw_content_team_3epn.svg' %}" class="img-fluid services-image" alt="">
                    </div>

                    <div class="col-lg-4 col-12 p-0">

                        <div class="services-info custom-icon-top paddingText">

                            <h4 class="">Ecommerce</h4>

                            <p class="mb-4">Lorem Ipsum is simply dummy text of the printing industry</p>

                            <a class="custom-btn custom-bg-dark btn" href="#">Learn More</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>

{% endblock %}
