<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Tween Digital Agency HTML Template</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
                
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/magnific-popup.css" rel="stylesheet">

        <link href="css/tooplate-tween-agency.css" rel="stylesheet">

    </head>

    <body>

        <nav class="navbar fixed-top navbar-expand-lg sticky-nav">
            <div class="container">

                <a href="index.html" class="navbar-brand">
                    <i class="bi-layers"></i> Just finance
                </a>

                <!-- <a href="#" class="custom-btn btn btn-lg d-lg-none ms-auto me-4">
                    Download
                    <i class="bi-download ms-2"></i>
                </a> -->

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5">
                        <li class="nav-item">
                            <a class="nav-link" href="#section_1">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#section_2">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="./service.html">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#section_4">Our Work</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#section_5">Pricing</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#section_6">Contact</a>
                        </li>
                    </ul>

                    <!-- <div class="ms-auto d-none d-lg-block">
                        <a href="#" class="custom-btn btn btn-lg">
                            Download
                            <i class="bi-download ms-2"></i>
                        </a>
                    </div> -->
                </div>
            </div>
        </nav>

        <main>
            <section class="services section-padding" id="section_3">
                <div class="container">
                    <div class="row">

                        <h2 class="mb-5 text-center">Digital Services</h2>

                            <div class="col-lg-4 col-12 d-flex bg-primary p-0">
                                <img src="images/services/undraw_Online_page_re_lhgx.svg" class="img-fluid services-image" alt="">
                            </div>

                            <div class="col-lg-4 col-12 p-0">
                                <div class="services-info custom-icon-left paddingText">
                                
                                    <h4 class="">UI Design</h4>

                                    <p class="mb-4">Lorem Ipsum is simply dummy text of the printing industry</p>

                                    <a class="custom-btn custom-bg-dark btn" href="#">Learn More</a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-12 d-flex bg-warning p-0">
                                <img src="images/services/undraw_online_transactions_02ka.svg" class="img-fluid services-image" alt="">
                            </div>

                            <div class="col-lg-4 col-12 p-0 order-lg-0 order-sm-5">
                          
                                <div class="services-info custom-icon-right paddingText order-lg-0 order-sm-2">
                                
                                    <h4 class="">Marketing</h4>

                                    <p class="mb-4">Lorem Ipsum is simply dummy text of the printing industry</p>

                                    <a class="custom-btn custom-bg-dark btn" href="#">Learn More</a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-12 d-flex bg-success p-0 order-lg-0 order-sm-4">
                                <img src="images/services/undraw_content_team_3epn.svg" class="img-fluid services-image" alt="">
                            </div>

                            <div class="col-lg-4 col-12 p-0">

                                <div class="services-info custom-icon-top paddingText">
                            
                                    <h4 class="">Ecommerce</h4>

                                    <p class="mb-4">Lorem Ipsum is simply dummy text of the printing industry</p>

                                    <a class="custom-btn custom-bg-dark btn" href="#">Learn More</a>
                                </div>
                            </div>

                    </div>
                </div>
            </section>

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-12 me-auto mb-4">
                        <h5 class="text-white mb-3">Newsletter</h5>

                        <form class="custom-form subscribe-form mt-4" role="form">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-7">                                    
                                    <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Your email address" required="">
                                </div>

                                <div class="col-lg-4 col-md-4 col-5">                                  
                                    <button type="submit" class="form-control" id="subscribe">Subscribe</button>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="col-lg-2 col-12 mx-auto my-lg-0 my-4">
                        <h5 class="text-white mb-3">Services</h5>

                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Digital Marketing</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Creative Ideas</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Branding</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Video Contents</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-12">
                        <h5 class="text-white mb-3">Say Hi</h5>

                        <p class="text-white mb-1">Sunderland SR6 0JL, United Kingdom</p>

                        <p><a href="mailto:email@company.com" class="footer-link">email@company.com</a><p>
                    </div>

                    <div class="site-footer-bottom mt-5">
                        <div class="row pt-4">
                            <div class="col-lg-6 col-12">
                                <p class="copyright-text tooplate-link">Copyright © 2022 Tween Agency Co., Ltd.
                                <br>Design: <a rel="nofollow" href="https://www.tooplate.com/" target="_blank">Tooplate</a></p>
                            </div>

                            <div class="col-lg-3 col-12 ms-auto">
                                <ul class="social-icon">
                                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                                    <li><a href="https://twitter.com/search?q=tooplate" class="social-icon-link bi-twitter"></a></li>

                                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                    <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                                    <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/magnific-popup-options.js"></script>
        <script src="js/click-scroll.js"></script>
        <!-- <script src="js/custom.js"></script> -->
        <script src="js/customjs_handly.js"></script>
    </body>
</html>
    