{% load static %}
{% load i18n %}
<section class="about section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <h2 class="mb-5">{% trans 'Digital Happiness' %}</h2>
            </div>

            <div class="col-lg-4 col-12 ms-lg-auto mb-5 mb-lg-0">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-intro-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-intro" type="button" role="tab" aria-controls="nav-intro"
                                aria-selected="true">{% trans 'Introduction' %}
                        </button>

                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab"
                                aria-controls="nav-profile" aria-selected="false">{% trans 'HR' %}
                        </button>

                        <button class="nav-link" id="nav-faq-tab" data-bs-toggle="tab" data-bs-target="#nav-faq"
                                type="button" role="tab" aria-controls="nav-faq" aria-selected="false">{% trans 'FAQs' %}
                        </button>
                    </div>
                </nav>
            </div>

            <div class="col-12">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-intro" role="tabpanel"
                         aria-labelledby="nav-intro-tab">
                        <div class="row">
                            <div class="col-lg-6 col-12 mb-lg-0 mb-4">
                                <img src="{{ about.image.url }}"
                                     class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-5 col-12 m-auto">
                                <h3 class="mb-3">{{ about.title }}</h3>

                                <p class="mb-4">{{ about.description|safe }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                         aria-labelledby="nav-profile-tab">
                        <div class="row">
                            <div class="col-lg-5 col-12 m-auto">
                                <h3 class="mb-3">{{ hr.title }}</h3>

                                <p>{{ hr.description|safe }}</p>

                                {% comment %}
                                        <ul class="social-icon mt-lg-5 mt-3">
                                            <li class="me-3"><strong>{% trans 'Where to find?' %}</strong></li>

                                            <li><a href="#"
                                                   class="social-icon-link bi-twitter"></a></li>

                                            <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                                            <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                                        </ul>
                                        {% endcomment %}
                            </div>

                            <div class="col-lg-6 col-12 mt-lg-0 mt-4">
                                <img src="{{ hr.image.url }}"
                                     class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-faq" role="tabpanel" aria-labelledby="nav-faq-tab">
                        <div class="row">
                            <div class="col-lg-6 col-12 mb-lg-0 mb-4">
                                <img src="{{ settings.faq_image.url }}"
                                     class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-5 col-12 m-auto">
                                <h3 class="mb-3">{% trans 'Frequenlty Asked Questions' %}</h3>
                                <div class="accordion" id="accordionGeneral">
                                    {% for faq in faqs %}
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading{{ faq.id }}">
                                                <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#accordionGeneralOne{{ faq.id }}"
                                                        aria-expanded="true"
                                                        aria-controls="accordionGeneralOne{{ faq.id }}">
                                                    {{ faq.question }}
                                                </button>
                                            </h2>

                                            <div id="accordionGeneralOne{{ faq.id }}" class="accordion-collapse collapse"
                                                 aria-labelledby="heading{{ faq.id }}"
                                                 data-bs-parent="#accordionGeneral">

                                                <div class="accordion-body">
                                                    {{ faq.answer|safe }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
