{% load i18n %}
<section class="services section-padding" id="section_6">
    <div class="container">

        <form id="calculator-form" method="post">
            {% csrf_token %}
            <div>
                {% for type in sector_types %}
                    <input {% if forloop.first %} checked="checked" {% endif %} type="radio" name="sector_type"
                                                  value="{{ type.name }}" data-id="{{ type.id }}"
                                                  id="sector_type_{{ type.id }}">
                    <label for="sector_type_{{ type.id }}">{{ type.name }}</label>
                    <br>
                {% endfor %}
                <br>

            </div>
            <div>
                <label for="id_from_number">{% translate 'Gross maaş' %}
                <input type="number" id="id_from_number">
                <i class="fa-solid fa-left-right" style="cursor: pointer" onclick="swapNumbers()"></i>
                <label for="id_to_number">{% translate 'Net maaş' %}
                <input type="number" id="id_to_number" disabled>
            </div>
            <br>
            <table class="table" id="calculator-table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Tutulmalar</th>
                    <th scope="col">Sığortaedən</th>
                    <th scope="col">Sığortaolunan</th>
                </tr>
                </thead>
                <tbody id="calculator-table-body">
                </tbody>
            </table>

        </form>
    </div>
</section>

<script>
    const calculatorForm = document.querySelector('#calculator-form');
    const fromNumber = document.querySelector('#id_from_number');
    const toNumber = document.querySelector('#id_to_number');
    const calculatorTableBody = document.querySelector('#calculator-table-body');

    calculatorForm.addEventListener('keyup', function (e) {
        e.preventDefault();
        const sectorType = document.querySelector('input[name="sector_type"]:checked');
        if (sectorType) {
            const sectorTypeId = sectorType.dataset.id;
            const url = '/api/calculator/'

            const data = {
                'sector_type': sectorTypeId,
            }
            if (fromNumber.value) {
                data['from_number'] = parseInt(fromNumber.value)
            } else if (toNumber.value) {
                data['to_number'] = parseInt(toNumber.value)
            }
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    total = {};
                    html = '';
                    data.sector_type.tax_types.forEach(function (tax_type) {
                        html += '<tr>';
                        html += '<td>' + tax_type.name + '</td>';
                        tax_type.insurance_types.forEach(function (insurance_type) {
                            html += '<td>' + (insurance_type.fee.fee > 0 ? insurance_type.fee.fee : '') + '</td>';
                            if (total[insurance_type.name]) {
                                total[insurance_type.name] += insurance_type.fee.fee;
                            } else {
                                total[insurance_type.name] = insurance_type.fee.fee;
                            }
                        });
                        html += '</tr>';
                    });
                    html += '<tr>';
                    html += '<td>Toplam</td>';
                    for (const [key, value] of Object.entries(total)) {
                        html += '<td>' + value + '</td>';
                    }
                    html += '</tr>';
                    if (toNumber.disabled){
                        toNumber.value = fromNumber.value;
                        for (const [key, value] of Object.entries(total)) {
                            if (
                                key === 'Sığortaolunan'
                            ){
                                toNumber.value -= value;
                            }
                        }
                        toNumber.value = toNumber.value;
                        calculatorTableBody.innerHTML = html;
                    } else if (fromNumber.disabled){
                        fromNumber.value = toNumber.value;
                        for (const [key, value] of Object.entries(total)) {
                            if (
                                key === 'Sığortaolunan'
                            ){
                                fromNumber.value += value;
                            }
                        }
                        fromNumber.value = fromNumber.value;
                        calculatorTableBody.innerHTML = html;
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    });


    function swapNumbers() {
        const fromNumber = document.querySelector('#id_from_number');
        const toNumber = document.querySelector('#id_to_number');
        if (fromNumber.disabled){
            fromNumber.disabled = false;
            toNumber.disabled = true;
            toNumber.value = '';
        } else if (toNumber.disabled){
            fromNumber.disabled = true;
            toNumber.disabled = false;
            fromNumber.value = '';
        }
    }

</script>
