{% load i18n %}
<section class="services section-padding" id="section_6">
    <div class="container">

        <form id="calculator-form" method="post">
            {% csrf_token %}
            <div>
                {% for type in sector_types %}
                    <input {% if forloop.first %} checked="checked" {% endif %} type="radio" name="sector_type"
                                                  value="{{ type.name }}" data-id="{{ type.id }}"
                                                  id="sector_type_{{ type.id }}">
                    <label for="sector_type_{{ type.id }}">{{ type.name }}</label>
                    <br>
                {% endfor %}
                <br>

            </div>
            <div>
                <label for="id_from_number">{% translate 'Gross maaş' %}</label>
                <input type="number" id="id_from_number">
                <i class="fa-solid fa-left-right" style="cursor: pointer" onclick="swapNumbers()"></i>
                <label for="id_to_number">{% translate 'Net maaş' %}</label>
                <input type="number" id="id_to_number" disabled>
            </div>
            <br>
            <table class="table" id="calculator-table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Tutulmalar</th>
                    {% for name in insurance_type_names %}
                        <th scope="col">{{ name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody id="calculator-table-body">
                </tbody>
            </table>

        </form>
    </div>
</section>

<script>
    const calculatorForm = document.querySelector('#calculator-form');
    const fromNumber = document.querySelector('#id_from_number');
    const toNumber = document.querySelector('#id_to_number');
    const calculatorTableBody = document.querySelector('#calculator-table-body');

    calculatorForm.addEventListener('keyup', function (e) {
        e.preventDefault();
        const sectorType = document.querySelector('input[name="sector_type"]:checked');
        if (sectorType) {
            const sectorTypeId = sectorType.dataset.id;
            const url = '/api/calculator/'

            const data = {
                'sector_type': sectorTypeId,
            }
            if (fromNumber.value) {
                data['from_number'] = fromNumber.value
            } else if (toNumber.value) {
                data['to_number'] = toNumber.value
            }
            console.log(data)
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify(data)
            })
                .then(response => response.ok ? response.json() : Promise.reject(response))
                .then(data => {
                    total = {};
                    inputTotal = {};
                    html = '';
                    for (const [key, value] of Object.entries(data)) {
                        html += '<tr>';
                        html += '<td>' + key + '</td>';
                        for (const [item] of Object.entries(value)) {
                            html += '<td>' + parseFloat(value[item]).toFixed(2) + '</td>';
                            if (total[item]) {
                                total[item] += value[item];
                            } else {
                                total[item] = value[item];
                            }
                        }
                        if (inputTotal['total']) {
                            inputTotal['total'] += value[1];
                        } else {
                            inputTotal['total'] = value[1];
                        }
                        html += '</tr>';
                    }
                    html += '<tr>';
                    html += '<td>Toplam</td>';
                    for (const [key, value] of Object.entries(total)) {
                        html += '<td>' + parseFloat(value).toFixed(2) + '</td>';
                    }
                    html += '</tr>';
                    if (toNumber.disabled){
                        toNumber.value = (parseFloat(fromNumber.value) - parseFloat(inputTotal['total']).toFixed(2));
                    } else {
                        fromNumber.value = (parseFloat(toNumber.value) + parseFloat(inputTotal['total']).toFixed(2));
                    }
                    calculatorTableBody.innerHTML = html;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    });


    function swapNumbers() {
        const fromNumber = document.querySelector('#id_from_number');
        const toNumber = document.querySelector('#id_to_number');
        if (fromNumber.disabled) {
            fromNumber.disabled = false;
            toNumber.disabled = true;
            toNumber.value = '';
        } else if (toNumber.disabled) {
            fromNumber.disabled = true;
            toNumber.disabled = false;
            fromNumber.value = '';
        }
    }

</script>
