{% load i18n %}
<section class="services pt-3 pb-3" id="section_6">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-10 col-12 mx-auto">
                <h2 class="mb-4 text-center">{% trans 'Type to us' %}</h2>

                <form class="custom-form" role="form" id="contact-form" action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 my-2">
                            <label class="mb-2" for="name">{% trans 'Full name' %}</label>

                            <input type="text" name="name" id="name" class="form-control" required="">
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 my-2">
                            <label class="mb-2" for="phone_number">{% trans 'Phone number' %}</label>

                            <input type="text" name="phone_number" id="phone_number"
                                   class="form-control"
                                   required="">
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 my-2">
                            <label class="mb-2" for="category">{% trans 'Category' %}</label>

                            <select class="form-select form-control" name="category" id="category">
                                {% for subject in applicationcategory %}
                                    <option value="{{ subject.id }}">{{ subject }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-12 my-2">
                            <label class="mb-2" for="message">{% trans 'Message' %}</label>

                            <textarea class="form-control" rows="5" id="message" name="message"></textarea>

                            <button type="submit" class="form-control mt-4" id="submit">{% trans 'Submit' %}</button>
                        </div>

                    </div>
                </form>
                <p class="text-center mt-3">Birbaşa əlaqə üçün <b>{{settings.default_number}}</b></p>
            </div>
            
        </div>
    </div>
</section>

<script>
    const contactForm = document.getElementById('contact-form');

    function postContactForm(e) {
        e.preventDefault();
        fetch('/api/contact/', {
            method: 'POST',
            body: JSON.stringify({
                name: contactForm.name.value,
                phone_number: contactForm.phone_number.value,
                category: contactForm.category.value,
                message: contactForm.message.value,
            }),
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            }
        }).then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Thank you for your message. We will get back to you soon.');
                    contactForm.reset();
                } else {
                    alert('Message failed to send.');
                }
            })
    }

    contactForm.addEventListener('submit', postContactForm);
</script>