{% load static %}
{% load i18n static %}
<section class="work section-padding" id="section_4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-5 text-center">{% trans 'Documents' %}</h2>
            </div>
            <div class="col-12">
                <div class="row text-center">
                    <form action="{% url 'excell' %}" method="get">
                        <input name="search_excel" type="text" placeholder="{% trans 'Search...' %}">
                    </form>
                </div>
            </div>
            {% for ex in excell_template %}
            <div class="col-lg-4 col-12">
                <div class="col-lg-3 col-md-6 my-3">
                    <div class="card text-center" style="background: #F9F9F9; border-radius: 20px; height: 100%; border: none; min-width:200px;min-height: 300px;">
                        <div class="card-body">
                        <img style="width: 64px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Microsoft_Excel_2013-2019_logo.svg/2086px-Microsoft_Excel_2013-2019_logo.svg.png" alt="">
                        <h5 class="card-title mt-3"><a href="{% url 'excell' ex.id %}show">{{ ex.title |truncatechars:40}}</a></h5>
                        <p class="card-text mb-5">{{ex.file.size}} KB </p>
                        <a target="_blank" href="{% url 'excell' ex.id %}download" class="btn btn-primary-outline text-primary" style="position: absolute; left: 0; right: 0; bottom: 5%;"><i
                        class="fas fa-arrow-down"></i>{% trans 'Endir' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>