{% load static %}
{% load i18n static %}
<section class="services section-padding" id="section_3">
    <div class="container">
        <div class="row">

            <h2 class="mb-5 text-center">Digital Services</h2>

            {% for service in services %}
            <div class="card" style="width: 18rem;">
                    <img src="{% if service.image %} {{ service.image.url }} {% endif %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ service.title }}</h5>
                      <p class="card-text">{{ service.description|truncatechars:100|safe }}</p>
                      <a href="{% url 'service_detail' service.slug %}" class="btn btn-primary">Learn More</a>
                    </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12">
            <div class="text-center">
                <a href="{% url 'services' %}" class="btn btn-primary mt-3">{% trans 'See All' %}</a>
            </div>
        </div>
    </div>
</section>

<script>
    randomBg = document.querySelectorAll('.random-bg');
    randomBg.forEach(function (item) {
        let randomColor = Math.floor(Math.random() * 16777215).toString(16);
        item.style.backgroundColor = "#" + randomColor;
    });
</script>
