{% load static %}
{% load i18n static %}
<section class="services section-padding" id="section_3">
    <div class="container">
        <div class="row mt-5">

            <h2 class="mb-5 text-center">{% trans 'Services' %}</h2>

            {% for service in services %}
            <div class="col-lg-6 col-sm-12">
                <div class="card text-center mb-4">
                    <img src="{% if service.image %} {{ service.image.url }} {% endif %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.title }}</h5>
                        <p class="card-text">{{ service.description|truncatechars:250|safe }}</p>
                        <a href="{% url 'service_detail' service.slug %}" class="btn btn-primary stretched-link">{% trans 'Learn More' %}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12">
            <div class="text-center">
                <a href="{% url 'services' %}" class="btn btn-primary mt-3">{% trans 'See All' %}</a>
            </div>
        </div>
    </div>
</section>